<%- include('partials/header') %>

  <div class="jumbotron text-center">
    
    <div class="container">
      <a href="/" class="btn btn-primary mb-3">Home</a>
      <br>
      <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Message!</h1>
      <p class="secret-text"><%= errmessage %></p>


    </div>
  </div>

  <%- include('partials/footer') %>